*{margin: 0; font-family: Verdana; font-size: 2vh; user-select: none}
body{width: 100vw; height: 100vh}
.menu{
    position: absolute;
    left: 0; top: 0;
    width: 25vw;height: 100vh;
    list-style: none;
}
.content{
    position: absolute;
    left: 25vw; top: 0;
    width: 75vw; height: 100vh;
    overflow: hidden;
}

.picture{
    position: absolute;
    width: 73vw; height: 86vh;
    text-align: center;
    background-size: 73vw auto;
}

.pic-name{
    position: relative;
    width: 75vw; height: 9vh;
    text-align: center;
    font-size: 6vh;
    font-style: normal;
}

.closed {
    list-style: none;
    height: 0;
    overflow: hidden;
}

