body{
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nav-bar{
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
}

.category-panel{
    width: 70vw;
    height: 100vh;
}