*{margin: 0}
body{width: 100vw; height: 100vh;}

.centered{
    left: 50%; top: 50%; transform: translate(-50%, -50%);
}

.wrap{
    position: absolute;
    width: 450px; height: 300px;
    border: 1px solid gray;
}

.band{
    position: absolute;
    width: 150px; height: 300px;
}
.blue{
    left: 0; top: 0;
    background-color: blue;
}
.white{
    left: 150px; top: 0;
    background-color: white;
}

.red{
    left: 300px; top: 0;
    background-color: red;
}
