.list-menu{
    width: 25vw;height: 35vmin;
    min-height: 20vmax;
    max-height: 25vmax;
    margin: 3vh 2vh;
    display: flex;
    box-sizing: border-box;
    /*width: 100%;height: 20%;*/
    flex-direction: column;
    justify-content: space-around;
    /*font-size: 2vmax;*/
    font-style: italic;
}

.active{
    text-decoration-line:  underline;
}