*{margin: 0; font-family: Verdana; font-size: 25px; user-select: none;}
body{width: 100vw; height: 100vh;}


.centered{
    left: 50%; top: 50%; transform: translate(-50%, -50%);
}

.wrap{
    position: absolute;
    width: 500px; height: 500px;
}

.all{
    position: absolute;
    background: red;
    transform-origin: bottom center;
}

.small{
    width: 1px; height: 10px;
}
.big{
    width: 3px; height: 15px;
}

.second{
    width: 2px;
    height: 160px;
    background: black;
    left: calc(50% - 1px);
    top: calc(50% - 160px);
}
.minute{
    width: 4px;
    height: 140px;
    left: calc(50% - 2px);
    top: calc(50% - 140px);
}
.hour{
    width: 6px;
    height: 120px;
    left: calc(50% - 3px);
    top: calc(50% - 120px);
}


span{
    position: absolute;
    transform: translate(-50%, -50%);
}
p{
    position: absolute;
    background-color: black;
    left: 250px; top: 70px;
    transform-origin: center 180px;
}