*{color: blue; margin: 0; font-size: 50px; padding: 0;}

.main{
    top: 100px;
    left: 300px;
    width: 402px;
    height:402px;
    border: 1px solid blue;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content : center;
}
.section{
    border: 1px solid blue;
    border-radius: 5px;
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section:hover{
    background-color: #888888;
}