* {
    color: blue;
    margin: 0;
    font-size: 50px;
    padding: 0;
}

.main {
    top: 50px;
    left: 300px;
    width: 402px;
    height: 402px;
    border: 1px solid blue;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: lightblue;
}

.section {
    border: 1px solid blue;
    border-radius: 10px;
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.row44 {
    background-color: lightblue;
    border: 0;
}

[but] {
    position: relative;
    width: 200px;
    height: auto;
    top: 60px;
    left: 400px;
    font-size: 30px;
}